:root {
  --primary-color: #000000;
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background: #ffffff;
  --hover-color: #f0f0f0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
  text-align: start;
  margin-bottom: 30px;
}

.server-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.server-card {
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.5s ease !important;
}

.server-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.server-card-header {
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.server-card-header.primary {
  background-color: #000000;
}

.server-card-header.secondary {
  background-color: #f0f0f0;
}

.server-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.server-icon svg {
  width: 32px;
  height: 32px;
}

.server-info {
  padding: 16px;
}

.server-name {
    text-align: start;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px;
}

.server-members {
    font-size: 14px;
    color: #666;
    margin: 0;
    display: flex;
    align-items: center;
}

.server-members svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.servers-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  position: relative;
}

.user-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #f3f4f6;
  overflow: hidden;
}

.user-nickname {
  font-size: 16px;
  color: #272727;
}

.logout-option {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    padding: 8px 12px;
    display: none;
    z-index: 99999;
    cursor: pointer;
    transition: all 0.3s ease;
}

.user-info:hover .logout-option {
  display: block;
  animation: slideRight 0.3s ease;
}

@keyframes slideRight {
  from { opacity: 0; transform: translateX(-10px); }
  to { opacity: 1; transform: translateX(0); }
}

.chart-container {
  position: relative;
  height: 200px;
  width: 100%;
}

@keyframes slideTop {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-slide-top {
  animation: slideTop 0.5s ease forwards;
}